<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slider1.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        The best pizza in town.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'steak.jpeg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Delicious and tasty steak.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'sushi.jpeg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Sushi that melts in your mouth.
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
<div class="booyah-box col-xs-10 col-xs-offset-1p"> 
	<h1><%= link_to place.name, place_path(place) %></h1><br />
	<i><%= place.address %></i><br /><br />
	<p><%= place.description %></p><br />

<% if place.user.present? %>
	<small><%= place.user.email %></small>
<% end %>

<% if place.comments.present? %>
<div class="col-xs-12">
		<blockquote>
			<% if place.comments.last.humanized_rating.present? %>
			<b><%= place.comments.last.humanized_rating %></b> -
			<% end %>
				<%= place.comments.last.message %>
			<small><%= place.comments.last.user.email %></small>
		</blockquote>
</div>
<% end %>


<% if place.photos.present? && place.photos.last.picture.present? %>
	<div class="up_photos">
		<p><%= image_tag place.photos.last.picture %></p>
	</div>
	<br />
<% end %>

</div>

<% end %>
<br />
<div class="center">
<%= will_paginate @places %>
</div>